body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1a3038;
    line-height: 22px;
    width: 70%;
    margin: auto;
    padding: 2em;
    /*border:1px solid #828282;*/
}

body header {
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
}

h1 {
    color: #256e8a;
    /* Largest text color */
    font-size: 48px;
    margin-top: 3%;
}

h2 {
    color: #256e8a;
    /* Large text color */
    font-size: 36px;
    margin-top: 3%;
}

h3 {
    color: #256e8a;
    margin-top: 3%;
}


a {
    color: #256e8a;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

img {
    border: 0;
}

form {
    width: 80%;
}

nav {
    text-align: center;
}

nav a {
    color: #1A3038;
    text-decoration: none;
    margin: 2.5em;
}


fieldset {
    margin-bottom: 2em;
}